@using BlazorShop.Shared.Models
@using BlazorShop.Client.Services;
@inject IDataService DataService

@if (ShowOverlay)
{
    <div class="overlay">
        <div class="overlay-content">
            <div class="closebtn" onclick="@(_ => ShowOverlay = false)" title="Close Overlay">x</div>
            <div class="product-info">
                @if (Product != null)
                {
                    <div>
                        <p>Title</p>
                        <p>@Product.Title</p>

                        <p>Description</p>
                        <p>@Product.HtmlDescription</p>
                    </div>

                    <img src="@Product.ImageSrc" />
                }
                else
                {
                    <p>Error loading Product with Id @ProductId</p>
                }
            </div>
        </div>
    </div>
}

@functions{
    [Parameter]
    private int ProductId { get; set; }
    [Parameter]
    private int Token { get; set; }

    private bool ShowOverlay { get; set; }
    private Product Product { get; set; }

    private int LastId { get; set; }

    protected async override Task OnParametersSetAsync()
    {

        if (ProductId != 0)
        {
            if (ProductId != LastId)
            {
                Product = await DataService.GetProductDetails(ProductId);
            }
            ShowOverlay = true;
            LastId = ProductId;
        }
    }

}